<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <h1>This is the home webpage</h1>


    <form class="" action="/addcity" method="POST">
      <input type="text" name="newcity" placeholder="your city">
      <button>Change city!</button>
    </form>





  </body>
</html>