<% include partials/header %>

    <h1><%= campground.name %></h1>

    <img style="width: 300px;" class="" src="<%= campground.image %>" alt="">

    <p class=""><%= campground.description %></p>

<% include partials/footer %>