<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emerson's Webpage!</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <p>this is the header partial</p>

