<h1>Friends list</h1>

<style media="screen">
  html {
    background-color: #222;
    color: white;
  }
</style>

<% friends.forEach(function(friend) { %>
  <li><%= friend %></li>
<% }) %>

<form class="" action="/addcity" method="POST">
  <input type="text" name="addcity" placeholder="name">
  <button>I made a new friend!</button>
</form>

