<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Homepage!</h1>



    <style media="screen">
      html {
        background-color: #222;
        color: white;
      }
    </style>

  </body>
</html>