<% include partials/header %>


  <h1> the post page!</h1>

  <% for(var i = 0; i < posts.length; i++) { %>
    <li>
      <%= posts[i].title %> - <strong> <%= posts[i].author %> </strong>
    </li>
  <% } %>

  <%# same as the other one but using a forEach%>
  <% posts.forEach(function(posts) { %>
    <li>
      <%= posts.title %> - <strong> <%= posts.author %> </strong>
    </li>
  <% }) %>

  <% console.log(posts) %>


<% include partials/footer %>